.form-control {
  margin-right: 10px;
}

.form-row {
  padding-bottom: 10px;
}

.origin-link {
  font-size: 16px;
  color: blue;
}

.space-left {
  margin-left: 4px;
}

.import-btn {
  border-color: #003bdd;
  color: #003bdd;
}

.import-btn:hover {
  background-color: #003bdd;
  color: white;
}

.import-btn ~ .hidden-tip {
  visibility: hidden;
}

.import-btn:hover ~ .hidden-tip {
  visibility: visible;
}

.mono-hashes {
  font-family: 'Courier New', sans-serif;
}

.fading {
  animation: fadeOut 2s forwards;
  animation-delay: 1s;
  display: flex;
  align-items: center;
  margin-left: 10px;
  color: #1c7430;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.bigger-checkbox {
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
}

.bigger-checkbox > input {
  padding-top: 0.46rem;
}

.custom-dropdown-filters.button,
.custom-dropdown-filters.btn {
  padding: 0;
}

.custom-dropdown-filters.btn-secondary {
  background-color: initial;
  border-color: white;
  color: #000;
}

.input-group {
  margin-bottom: 10px;
}

.grey-clr {
  color: grey;
}

.filter-page-title {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}

.sharing-section {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
}

.cids-table-container .MuiTableContainer-root {
  border-radius: 16px;
}

.filters-page-search-bulk-actions {
  display: flex;
  margin-bottom: 16px;
}

.filters-page-search-bulk-actions .MuiInputBase-root {
  height: 40px;
}

.public-badge {
  background-color: #4da74d !important;
}

.filter-page-input-label {
  font-weight: 600;
  font-size: 14px;
}

.margin-bottom-4px {
  margin-bottom: 4px;
}

.add-cid-button,
.bulk-actions-button,
.sharing-button {
  margin-right: 16px;
}

.add-cid-button .dropdown-toggle,
.bulk-actions-button .dropdown-toggle,
.sharing-button .dropdown-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  height: 40px;
}

.add-cid-button .dropdown-toggle {
  background-color: #42526e !important;
  border-color: #42526e !important;
  box-shadow: none;
  width: 120px;
}

.bulk-actions-button .dropdown-toggle {
  width: 144px;
}

.bulk-actions-edit {
  border: 1px solid #027bfe;
}

.bulk-actions-move {
  border: 1px solid #f7c143;
}

.bulk-actions-delete {
  border: 1px solid #fc6471;
}

.bulk-actions-edit:hover {
  background-color: #027bfe;
}

.bulk-actions-move:hover {
  background-color: #f7c143;
  color: white;
}

.bulk-actions-delete:hover {
  background-color: #fc6471;
}

.sharing-button .dropdown-toggle {
  width: 120px;
}

.sharing-button-public {
  border: 1px solid #4da74d;
  color: #4da74d;
}

.sharing-button-shared {
  border: 1px solid #f7c143;
  color: #f7c143;
}

.sharing-button-private {
  border: 1px solid #fc6471;
  color: #fc6471;
}

.sharing-button-exception {
  border: 1px solid #007bff;
  color: #007bff;
}

.sharing-button-public:hover {
  border: 1px solid #4da74d;
  background-color: #4da74d;
}

.sharing-button-shared:hover {
  border: 1px solid #f7c143;
  background-color: #f7c143;
  color: white;
}

.sharing-button-private:hover {
  border: 1px solid #fc6471;
  background-color: #fc6471;
}

.sharing-button-exception:hover {
  border: 1px solid #007bff;
  background-color: #007bff;
}

.visibility-public .dropdown-toggle,
.visibility-private .dropdown-toggle,
.visibility-shared .dropdown-toggle,
.visibility-exception .dropdown-toggle {
  color: white;
}

.visibility-public .dropdown-toggle,
.visibility-public .dropdown-toggle:active {
  border: 1px solid #4da74d !important;
  background-color: #4da74d !important;
}

.visibility-private .dropdown-toggle,
.visibility-private .dropdown-toggle:active {
  border: 1px solid #fc6471 !important;
  background-color: #fc6471 !important;
}

.visibility-exception .dropdown-toggle,
.visibility-exception .dropdown-toggle:active {
  border: 1px solid #007bff !important;
  background-color: #007bff !important;
}

.visibility-shared .dropdown-toggle,
.visibility-shared .dropdown-toggle:active {
  border: 1px solid #f7c143 !important;
  background-color: #f7c143 !important;
}

.dropdown-toggle {
  box-shadow: none !important;
}

.dropdown-menu .btn {
  width: 100%;
}

.dropdown-menu .btn div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.multiple-rows-delete-message {
  display: flex;
  flex-direction: column;
}
