.form-control {
  margin-right: 10px;
}

.form-row {
  padding-bottom: 10px;
}

.origin-link {
  font-size: 16px;
  color: blue;
}

.space-left {
  margin-left: 4px;
}

.import-btn ~ .hidden-tip {
  visibility: hidden;
}

.import-btn:hover ~ .hidden-tip {
  visibility: visible;
}

.mono-hashes {
  font-family: "Courier New", sans-serif;
}

.fading {
  animation: fadeOut 2s forwards;
  animation-delay: 1s;
  display: flex;
  align-items: center;
  margin-left: 10px;
  color: #1c7430;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.bigger-checkbox {
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
}

.bigger-checkbox > input {
  padding-top: 0.46rem;
}

.custom-dropdown-filters.button,
.custom-dropdown-filters.btn {
  padding: 0;
}

.custom-dropdown-filters.btn-secondary {
  background-color: initial;
  border-color: white;
  color: #000;
}

.input-group {
  margin-bottom: 10px;
}

.grey-clr {
  color: grey;
}
