.root {
  border-radius: 16px !important;
}

.double-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.root-double-left {
  flex-grow: 1;
  border-radius: 16px 0 0 16px !important;
}

.root-double-right {
  flex-grow: 1;
  border-radius: 0 16px 16px 0 !important;
}

.root .MuiCardContent-root,
.root-double-left .MuiCardContent-root,
.root-double-right .MuiCardContent-root {
  padding: 24px !important;
}

.card-title {
  margin-bottom: 16px !important;
  font-size: 20px !important;
  font-weight: 600 !important;
}

.card-text {
  height: 72px !important;
  line-height: 72px !important;
  font-size: 64px !important;
  font-weight: normal !important;
}
