.root {
  border-radius: 16px !important;
}

.double-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.triple-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.root-double-left {
  flex-grow: 1;
  border-radius: 16px 0 0 16px !important;
}

.root-double-right {
  flex-grow: 1;
  border-radius: 0 16px 16px 0 !important;
}

.public-double {
  display: flex;
  align-items: center;
  width: 100%;
}

.public-double .MuiCardContent-root {
  padding: 24px !important;
}
.public-triple .MuiCardContent-root {
  padding: 24px !important;
}

.public-triple {
  display: flex;
  width: 100%;
  align-items: center;
}

.root .MuiCardContent-root,
.root-double-left .MuiCardContent-root,
.root-double-right .MuiCardContent-root {
  padding: 24px !important;
}

.root .MuiCardContent-root.chart {
  padding: 20px !important;
}

.card-title {
  margin-bottom: 16px !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  line-height: 24px !important;
}

.card-text {
  height: 72px !important;
  line-height: 72px !important;
  font-size: 64px !important;
  font-weight: normal !important;
}

.small-card-text {
  height: 56px !important;
  line-height: 56px !important;
  font-size: 48px !important;
  font-weight: normal !important;
}

.public-card-title {
  font-size: 20px !important;
  line-height: 24px !important;
  font-weight: 600 !important;
  margin-bottom: 16px !important;
}

.public-card-text.single {
  font-size: 64px;
  line-height: 72px;
  font-weight: 400;
}

.public-card-text.double,
.public-card-text.triple {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

#Filtering div svg g g:nth-of-type(2) g:nth-of-type(2) g g:nth-of-type(5) {
  display: none;
}
