.MuiButtonBase-root.cid-row-icon {
  padding-left: 5px;
  padding-right: 5px;
}

.MuiButtonBase-root.move-icon {
  padding-top: 10px;
  padding-bottom: 10px;
}

.local-conflict {
  margin-left: 0px !important;
}

.cid-conflict-title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.cid-conflict-url {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 16px;
}

.conflict-modal-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-top: 5px;
}
