.navbar {
  background: linear-gradient(0.25turn, #7a869a, #42526e);
  justify-content: left;
  padding-bottom: 0;
  display: block;
  height: 64px;
  padding-top: 0;
  padding-bottom: 0;
}

.nav-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-logo {
  width: 224px;
  font-size: 32px;
  color: white;
}

.nav-logo:hover {
  text-decoration: none;
  color: white;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 200px;
  font-size: 24px;
  line-height: 24px;
  color: white;
  font-weight: normal;
}

.icon-nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  line-height: 24px;
}

.icon-nav-link.is-active {
  background-color: white;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  align-self: flex-end;
  height: 54px;
}

.nav-link:hover {
  color: white;
}

.nav-link.is-active {
  font-weight: 600;
  color: #1b2738;
  background-color: white;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.icon-nav-link.is-active .svg-inline--fa {
  margin-top: -13px;
  color: black;
}

.nav-link.is-active:hover {
  color: #1b2738;
}

.nav-item-container {
  display: flex;
  margin-left: auto;
  margin-right: 40px;
  align-self: center;
  align-items: center;
  height: 100%;
}

.nav-item.dropdown {
}

#nav-dropdown-wallet-address {
  width: fit-content;
  background-color: white;
  color: #1b2738;
  border-radius: 24px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
}

.user-pill:active,
.user-pill:focus,
.user-pill:hover,
.user-pill.dropdown-toggle,
.top-bar-menu-dropdown-button:active,
.top-bar-menu-dropdown-button:hover,
.top-bar-menu-dropdown-button:focus,
.top-bar-menu-dropdown-button.dropdown-toggle {
  background-color: transparent !important;
  border: transparent;
  padding: 0;
}

.top-bar-menu-dropdown-button {
  background: transparent;
  border-color: transparent;
}

.top-bar-menu-dropdown-title-item {
  color: #212529 !important;
}
