.navbar {
  background: linear-gradient(0.25turn, #7a869a, #42526e);
  justify-content: left;
  padding-bottom: 0;
  display: block;
  height: 64px;
  padding-top: 0;
  padding-bottom: 0;
}

.nav-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-logo {
  width: 224px;
  font-size: 32px;
  color: white;
}

.nav-logo:hover {
  text-decoration: none;
  color: white;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 200px;
  font-size: 24px;
  line-height: 24px;
  color: white;
  font-weight: normal;
}

.nav-link:hover {
  color: white;
}

.nav-link.is-active {
  font-weight: 600;
  color: #1b2738;
  background-color: white;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.nav-link.is-active:hover {
  color: #1b2738;
}

.nav-item-container {
  display: flex;
  margin-left: auto;
  margin-right: 40px;
  align-self: center;
  align-items: center;
}

.nav-item.dropdown {
}

#nav-dropdown-wallet-address {
  width: fit-content;
  background-color: white;
  color: #1b2738;
  border-radius: 24px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
}
