html,
body,
#root {
  height: 100%;
}

.container-fluid {
}

.fill-height {
  height: auto !important; /* cross-browser */
}

.stage {
  padding-top: 16px;
}

a {
  color: #000;
  font-weight: bold;
  font-size: 20px;
}
