html,
body,
#root {
  height: 100%;
}

.container-fluid {
  padding-right: 40px;
  padding-left: 40px;
}

.fill-height {
  height: auto !important; /* cross-browser */
}

.stage {
  padding-top: 16px;
}

.table-row-cell-text,
.table-row-cell-text a,
.table-row-cell-text span {
  font-weight: 400 !important;
}

a {
  color: #000;
  font-weight: bold;
  font-size: 20px;
}

.MuiTableContainer-root {
  box-shadow: none !important;
}

.page-subtitle {
  color: grey;
  margin-left: 12px;
}

.app-primary-button {
  background-color: #003bdd !important;
  border-radius: 5px !important;
}

.no-text-transform {
  text-transform: initial !important;
}
